.jumbotron {
    background-color: #4D4D4D;
    color: #8EE5EE;
    padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.logo {
  font-size: 60px;
}

.logo-small {
  cursor: pointer;
}

.bg-grey {
    background-color: #f6f6f6;
}

.login, .inputbox {
    padding: 20px 50px;
}