<div class="container-fluid" ng-controller="photoController">
    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>
    <div id="photosContainer">
        <div class="photoItem" ng-repeat="photo in photos">
            <img class="listPhoto" ng-click="setPhoto(photo._id)"
                 ng-src="/images/{{photo.filename}}" />
        </div>
    </div>
    <div>
        <div id="photoContainer">
            <p class="imageTitle">{{photo.title}}</p>
            <img class="mainPhoto"
                 ng-src="/images/{{photo.filename}}" />
        </div>
        <div id="photoComments"
             ng-init="addComment=false;replySubject='';replyBody=''">
            <div class="comment"
                 ng-include="'/photos/views/photos-comment-thread.client.view.html'">
            </div>
        </div>
    </div>
</div>