<section ng-controller="SuggestionDetailController" ng-init="findOne();">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4 text-right">
        <img src="/img/idea.png" height="80px"/>
      </div>
      <div class="col-sm-8 text-left">
        <h1> Suggestion Box </h1>
        <p>Make suggestions and upvote others. The best may win!</p>
      </div>
    </div>
  </div>
  <section class="login">
    <div data-ng-show="!authentication.user">
      <a href="/signup">Signup</a>
      <a href="/signin">Signin</a>
    </div>
    <div data-ng-show="authentication.user">
      <h3>Hello <span data-ng-bind="authentication.user.fullName"></span></h3>
      <a href="/signout">Signout</a>
    </div>
  </section>
  <div class="inputbox text-center" data-ng-show="authentication.user">
    <form ng-submit="update()" class="form-inline">
      <h3> Submit Your Comment </h3>
      <input type="text" class="form-control" size="60" placeholder="Great comment here" ng-model="newComment">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container-fluid">
      <div>
        <small data-ng-bind="suggestion.created | date:'medium'"></small>
        <small>/</small>
        <small data-ng-bind="suggestion.creator.fullName"></small>
        <h2>{{suggestion.title}}</h2>
        <p>{{suggestion.body}}</p>
        <div data-ng-show="authentication.user && (authentication.user._id === suggestion.creator._id)">
          <a href="/#!/suggestions/{{suggestion._id}}/edit">edit</a>
          <a href="/#!/" data-ng-click="delete(suggestion);">delete</a>
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="comment in suggestion.comments | orderBy:'-upvotes'">
            <small data-ng-bind="comment.created | date:'medium'"></small>
            <small>/</small>
            <small data-ng-bind="comment.creator.fullName"></small>
            <p>{{comment.title}}</p>
            <p>
              <span class="glyphicon glyphicon-plus-sign logo-small" ng-click="upvoteComment(comment)" data-ng-show="authentication.user"></span> Upvotes: {{comment.upvotes}}
            </p>
          </li>
        </ul>
      </div>
  </div>
  <div class="container-fluid text-center">
    <a href="/#!/">Home</a>
  </div>
</section>