<section ng-controller="SuggestionDetailController">
  <section class="login">
    <div data-ng-show="!authentication.user">
      <a href="/signup">Signup</a>
      <a href="/signin">Signin</a>
    </div>
    <div data-ng-show="authentication.user">
      <h3>Hello <span data-ng-bind="authentication.user.fullName"></span></h3>
      <a href="/signout">Signout</a>
    </div>
  </section>
  <div class="container-fluid text-center" data-ng-show="authentication.user">
    <form ng-submit="addComment()" class="form-inline">
      <h3> Submit Your Comment </h3>
      <input type="text" class="form-control" size="60" placeholder="Great comment here" ng-model="newComment"></input>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container-fluid">
      <div>
        <h2>{{post.title}}</h2>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <p>{{comment.body}}</p>
            <p>
              <span class="glyphicon glyphicon-plus-sign logo-small" ng-click="upvoteComment(comment)" data-ng-show="authentication.user"></span> Upvotes: {{comment.upvotes}}
            </p>
          </li>
        </ul>
      </div>
  </div>
  <div class="container-fluid text-center">
    <a href="/#!/">Home</a>
  </div>
</section>