<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>Suggestion Box</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/bower_components/leaflet/dist/leaflet.js"></script>
  <script type="text/javascript" src="/bower_components/leaflet-providers/leaflet-providers.js"></script>

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/leaflet/dist/leaflet.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet">
</head>
<body ng-app="SuggestionBox">

<div ng-view></div>

<!-- Scripts -->
<script type="text/javascript">
  window.user = <%- user || 'null' %>;
</script>

<script type="text/javascript" src="/suggestion-list/suggestion-list.client.module.js"></script>
<script type="text/javascript" src="/suggestion-list/config/suggestion-list.client.routes.js"></script>
<script type="text/javascript" src="/suggestion-list/controllers/suggestion-list.client.controller.js"></script>

<script type="text/javascript" src="/suggestion-detail/suggestion-detail.client.module.js"></script>
<script type="text/javascript" src="/suggestion-detail/config/suggestion-detail.client.routes.js"></script>
<script type="text/javascript" src="/suggestion-detail/controllers/suggestion-detail.client.controller.js"></script>

<script type="text/javascript" src="/suggestions/suggestions.client.module.js"></script>
<script type="text/javascript" src="/suggestions/services/suggestions.client.service.js"></script>

<script type="text/javascript" src="/users/users.client.module.js"></script>
<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

<script type="text/javascript" src="/app.js"></script>
</body>
</html>
